/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-area {		/* allen Elementen vom Type TextArea Schriftart und Farbe zuweisen */
	-fx-font-family: pixelmix;
	-fx-font-size: 16.0;
	-fx-display-caret: true;
    -fx-text-fill: #00f700; /* Textfarbe im TextArea auf "grün" */
    
}
.text-area .content {
    -fx-background-color: black ; /* Hintergrund des TextArea auf schwarz */
}

.text-area .scroll-bar:vertical { /* vertikalenScrollbalken ausblenden */
    -fx-pref-width: 0.5;
    -fx-opacity: 0;
}
